Backup
BasicDreams
CleanMaster
CloudBackup
CloudServiceSysbase
FindDevice
GoogleCalendarSyncAdapter
GoogleContactsSyncAdapter
GoogleLocationHistory
GoogleOneTimeInitializer
GooglePartnerSetup
GmsCore
GoogleServicesFramework
GooglePrintRecommendationService
PlayAutoInstallStubApp
GoogleRestore
Turbo
CarrierServices
SetupWizard
Phonesky
IFAAService
Email
XiaomiAccount
mi_connect_service
MiShare
MiuiVideo
MiuiScreenRecorder
MiCloudSync
Music
HybridPlatform
TouchAssistant
HybridAccessory
SoterService
WMService
Weather
CloudService
XiaomiSimActivateService
XiaomiServiceFramework
XMSFKeeper
YellowPage

